.swiper-pagination-bullet {
  background-color: white !important;
  height: 15px !important;
  width: 15px !important;
  margin-top: 15px;
}
.swiper-pagination-bullet-active {
  background-color: white !important;
}
.mySwiper {
  height: 500px !important;
}
@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 1024px) {
  .swiper-container {
    width: 1024px;
  }
}